version: '3.8'
services:
  minecraft:
    image: itzg/minecraft-server
    ports:
      - 25565:25565
    environment:
      EULA: "TRUE"
      VERSION: "1.20.4"
    volumes:
      - mc-data:/data
    restart: unless-stopped

volumes:
  mc-data: