apiVersion: v1
kind: Pod
metadata:
  name: config-reassembler
spec:
  containers:
  - name: main
    image: busybox:latest
    command: ['/bin/sh', '-c']
    args: [
      'cat /config-chunks/* > /output/reassembled-config.txt && cat /output/reassembled-config.txt | head -c 100 ; sleep infinity'
    ]
    volumeMounts:
    - name: config-volume
      mountPath: /config-chunks
    - name: output-volume
      mountPath: /output
  volumes:
  - name: config-volume
    projected:
      sources:
      # Dynamically populate this section based on your configmap names.
      # Example:
      - configMap:
          name: config-chunk-aa
          items:
          - key: config-chunk-aa
            path: config-chunk-aa
      - configMap:
          name: config-chunk-ab
          items:
          - key: config-chunk-ab
            path: config-chunk-ab
  - name: output-volume
    emptyDir: {}
